<html>

<body >
  <div class="row">
    <div class="col-md-6"
      style="border:.1px solid rgb(228, 113, 184); border-radius: 10px;top: 10px; margin-top: 10%; margin-left: 15%;">
      <div style="margin-top: 3%; margin-left: 0%;">
        <div class="d-flex p-3 justify-content-center">
          <h4>Place Register</h4>
        </div>
        <div>
          <form [formGroup]="placeForm">
            <div class="form-group">
              <label for="exampleFormControlSelect1">District</label>
              <select  class="form-control" id="exampleFormControlSelect1" formControlName="distid">
                <option  value="" selected disabled >--select--</option>
                <option *ngFor="let dist of distarray" value="{{dist.district_id}}">{{dist.district_name}}</option>
              </select>
              <span class="form-control-sm text-danger" for="customFile"
                                *ngIf="(placeFormControl.distid.touched || submitted) && placeFormControl.distid.errors?.['required']">
                                Please select a district
                            </span>
            </div>
            <br>
            <div class="form-group">
              <label>Place:</label>
              <input type="text" id="place"  class="form-control" placeholder="Place" formControlName="place">
              <span class="form-control-sm text-danger" for="customFile"
                                *ngIf="(placeFormControl.place.touched || submitted) && placeFormControl.place.errors?.['required']">
                                Place is required
                            </span>
            </div>
            <div class="form-group">
              <div class="form-check">

              </div>
            </div>
            &nbsp;&nbsp;&nbsp;<button type="submit" class="btn btn-primary" (click)="onSubmit()">Submit</button>&nbsp;
            <button type="reset" class="btn btn-danger" >Cancel</button>
          </form>
          <br>
          <br>
        </div>
      </div>
    </div>
  </div>
</body>

</html>
