<html>

<body>
  <div class="row">
    <div class="col-md-6"
      style="border:.1px solid rgb(228, 113, 184); border-radius: 10px;top: 10px; margin-top: 3%; margin-left: 25%;">
      <div style="margin-top: 3%; margin-left: 0%;">
        <div class="d-flex p-3 justify-content-center">
          <h4>Job Vacancy</h4>
        </div>
        <div>
          <form [formGroup]="jobvacForm" (ngSubmit)="onSubmit()">
            <div class="row">
              <div class="col-md-12">
                <label class="form-control-sm text-secondary" for="customFile">Details</label>
                <select  class="form-control" id="exampleFormControlSelect1" formControlName="detid" (change)="onSelect()">
                  <option  value="" selected disabled >--select--</option>
                  <option *ngFor="let det of detArr" value="{{det.jobdet_id}}">{{det.jobdetname}}</option>
                </select>
                <small class="text-danger" *ngIf="f.detid.errors?.['required'] && (f.detid.touched || submitted)">{{'isRequired'}}</small>
              </div>
            </div>

            <div class="row">
              <div class="col">
                <label class="form-control-sm text-secondary" for="customFile">Vacancy</label>
                <input type="text" class="form-control" placeholder="Number of vacancy" formControlName="jobvac">
                <small class="text-danger" *ngIf="f.jobvac.errors?.['required'] && (f.jobvac.touched || submitted)">{{'isRequired'}}</small>
                <small class="text-danger" *ngIf="f.jobvac.errors?.['pattern'] && (f.jobvac.touched || submitted)">{{'mustbeNumber'}}</small>

              </div>
              <div class="col">
                <label class="form-control-sm text-secondary" for="customFile">Last date</label>
                <input type="date" class="form-control" formControlName="ldate" (change)="dateCheck()">
                <small class="text-danger" *ngIf="f.ldate.errors?.['required'] && (f.ldate.touched || submitted)">{{'isRequired'}}</small>
                <small class="text-danger" *ngIf="!this.date">{{'isInvalid'}}</small>
              </div>
            </div><br>

            &nbsp;<button type="submit" class="col-md-6 btn btn-primary" [disabled]="this.jobvacForm.invalid || !this.date">Save</button>&nbsp;
            <button type="reset" class="col-md-5 btn btn-danger">Cancel</button>
          </form>
          <br>
          <br>
        </div>
      </div>
    </div>
  </div>
</body>

</html>
