<html>

<body>
  <div class="row">
    <div class="col-md-6"
      style="border:.1px solid rgb(228, 113, 184); border-radius: 10px;top: 10px; margin-top: 3%; margin-left: 25%;">
      <div style="margin-top: 3%; margin-left: 0%;">
        <div class="d-flex p-3 justify-content-center">
          <h4>Product</h4>
        </div>
        <div style="margin-left: 0%;">
          <form [formGroup]="productForm">
            <div class="row">
              <label>Product Category</label>
              <div class="col-md-12">
                <select class="form-control" formControlName="catid">
                  <option value="" selected disabled>--select--</option>
                  <option *ngFor="let item of catarray;" value="{{item.productcategory_id}}">{{item.productcategory_name}}</option>
                </select>
                <span class="form-control-sm text-danger" for="customFile"
                                *ngIf="(productFormcontrols.catid.touched || submitted) && productFormcontrols.catid.errors?.['required']">
                                 please select a category
                            </span>
              </div>
            </div><br>
            <div class="row">
              <label>Product Name</label>
              <div class="col-md-12">
                <input type="Text" class="form-control" placeholder="Product Name" aria-label="Product Name" formControlName="product">
              </div>
              <span class="form-control-sm text-danger" for="customFile"
                                *ngIf="(productFormcontrols.product.touched || submitted) && productFormcontrols.product.errors?.['required']">
                                 &nbsp; product name is required
                            </span>
            </div><br>
            <div class="row">
              <label>Photo:</label>
              <div class="col-md-12">
                <input type="file" class="form-control"  (change)="fileUpload($event)">
              </div>
              <span class="form-control-sm text-danger" for="customFile"
                                *ngIf="(productFormcontrols.image.touched || submitted) && productFormcontrols.image.errors?.['required']">
                                 &nbsp; please add an image
                            </span>
            </div><br>
            <div class="row">
              <label>Details</label>
              <div class="col-md-12">
                <textarea class="form-control" placeholder="Product Details" id="floatingTextarea" formControlName="details"></textarea>
              </div>
              <span class="form-control-sm text-danger" for="customFile"
                                *ngIf="(productFormcontrols.details.touched || submitted) && productFormcontrols.details.errors?.['required']">
                                 &nbsp; please insert the product details
                            </span>
            </div>
            <br>
            &nbsp;<button type="submit" class="btn btn-primary" (click)="onSubmit()">Submit</button>&nbsp;
            <button type="reset" class="btn btn-danger">Cancel</button>
          </form>
          <br>

        </div>
      </div>
    </div>
  </div>
</body>

</html>
