<html>

<body>
  <div class="row">
    <div class="col-md-6"
      style="border:.1px solid rgb(228, 113, 184); border-radius: 10px;top: 10px; margin-top: 3%; margin-left: 25%;">
      <div style="margin-top: 3%; margin-left: 0%;">
        <div class="d-flex p-3 justify-content-center">
          <h4>Production Details</h4>
        </div>
        <div style="margin-left:10%;">
          <form [formGroup]="productForm" (ngSubmit)="onSubmit()">
            <div class="row">
              <label><small>Product Name</small> </label>
              <div class="col-md-12">
                 <select class="form-control" formControlName="pid">
                  <option value="" selected disabled >--select--</option>
                  <option *ngFor="let item of productArray;" value="{{item.product_id}}">{{item.product_name}}</option>
                </select>
                <small class="text-danger" *ngIf="f.pid.errors?.['required'] && (f.pid.touched || submitted)">{{'isRequired'}}</small>
              </div>
            </div>
            <!-- <div class="row">
              <label>Photo:</label>
              <div class="col-md-12">
                <input type="file" class="form-control">
              </div>
            </div> -->
            <br>
            <!-- <div class="row">
              <label>Product Details</label>
              <div class="col-md-10">
                <textarea class="form-control" placeholder="Product Details" id="floatingTextarea" readonly></textarea>
              </div>
            </div>
            <br> -->
            <div class="row">
                <div class="col">
                    <label><small>Manufacture Date</small></label>
                  <input type="date" class="form-control" formControlName="mdate">
                  <small class="text-danger" *ngIf="f.mdate.errors?.['required'] && (f.mdate.touched || submitted)">{{'isRequired'}}</small>
                </div>
                <div class="col">
                    <label><small>Expiry Date</small></label>
                  <input type="date" class="form-control" formControlName="edate" (blur)="checkDate()">
                  <small class="text-danger" *ngIf="!this.dateValid">{{'Expiry date must be greater than manufacture date'}}</small>
                  <small class="text-danger" *ngIf="f.edate.errors?.['required'] && (f.edate.touched || submitted)">{{'isRequired'}}</small>
                </div>
                <div class="col">
                  <label><small>Quantity</small></label>
                <input type="text" class="form-control" formControlName="qty" placeholder="Qty">
                <small class="text-danger" *ngIf="f.qty.errors?.['required'] && (f.qty.touched || submitted)">{{'isRequired'}}</small>
              </div>
              </div>
            <br>
            &nbsp;<button type="submit" class="btn btn-primary" [disabled]="!this.dateValid || !this.productForm.valid">Save</button>&nbsp;
            <button type="reset" class="btn btn-danger">Cancel</button>
          </form>
          <br>

        </div>
      </div>
    </div>
  </div>
</body>

</html>
