<html>

<body>
  <div class="row">
    <div class="col-md-6"
      style="border:.1px solid rgb(228, 113, 184); border-radius: 10px;top: 10px; margin-top: 10%; margin-left: 15%;">
      <div style="margin-top: 3%; margin-left: 0%;">
        <div class="d-flex p-3 justify-content-center">
          <h4>Product Category</h4>
        </div>
        <div>
          <form [formGroup]="categoryForm" >
            <div class="form-group">
              <label>Category:</label>
              <input type="text" class="form-control" placeholder="Category" formControlName="category">
              <span class="form-control-sm text-danger" for="customFile"
                                *ngIf="(categoryFormcontrols.category.touched || submitted) && categoryFormcontrols.category.errors?.['required']">
                                 category is required
                            </span>
            </div><br>
            &nbsp;<button type="submit" class="btn btn-primary col-md-3"  [disabled]="!categoryForm.valid" *ngIf="!id" (click)="onSubmit()">Submit</button>&nbsp;<button type="submit" class="btn btn-primary col-md-3"  *ngIf="id" (click)="onUpdate()">Update</button>&nbsp;
            <button type="reset" class="btn btn-danger col-md-3">Cancel</button>
          </form>
          <br>
          <br>
        </div>
      </div>
    </div>
  </div>
</body>

</html>
