<html>
<body>
  <div class="row">
    <div class="col-md-6" style="border:.1px solid rgb(228, 113, 184); border-radius: 10px;top: 10px; margin-top: 15%; margin-left: 15%;">
  <div style="margin-top: 10%; margin-left: 0%;">
    <div class="d-flex p-3 justify-content-center">
      <h4 >District Register</h4>
    </div>
  <div style="margin-left: 20%;">
    <form>
      <div class="col-sm-12">
        <label>District:</label>
        &nbsp;<input type="text" class="form-row" id="district" placeholder="District">
      </div>
      <br>
      <div style="margin-left:17%;">
        <button type="submit" class="btn btn-primary" style="padding: 5px;">Submit</button>&nbsp;
        <button type="reset" class="btn btn-danger" style="padding: 5px;">Cancel</button>
      </div>
    </form>
    <br>
    <br>
  </div>
  </div>
  </div>
  </div>
</body>
</html>




