@import url("https://cdn.jsdelivr.net/npm/bootstrap-icons@1.8.1/font/bootstrap-icons.css");
.logo{
    margin: -40px 0px 0px 60px;
    color: rgb(24, 21, 21);
    font-family:Verdana, Geneva, Tahoma, sans-serif

}
.border{
    margin-top:0px;
}
.sidebar{

    top: 70px;
    background-color: #C2185B;
    margin: 0;
    padding-top: -10px;
    width: 200px;
    position: fixed;
    height: 100%;
    overflow: auto;


}

.sidebarWrapper{
    padding-top: 10px;
    padding-left: 20px;
    color: #555;
}


.sidebarMenu{
    margin-bottom: 10px;
}

.sidebarTitle{
    padding-top: -50px;
    font-size: 22px;
    color: white;


}



.sidebarList{
    list-style: none;
    padding: 5px;
    width: max-content;
    font-size: 16px;
}

.sidebarListItem{
    padding: 5px;
    cursor: pointer;
    display: flex;
    align-items: center;
    border-radius: 10px;

}

.sidebarListItem.active,
.sidebarListItem:hover{
    background-color: #273746;
    font-size: 18px;
    box-shadow: 1px 1px rgb(255, 255, 255);
    transform: rotate(0.3deg);
    transition: 0.3s;
}

.sidebarIcon{
    margin-right: 5px;
    font-size: 20px !important
}

.sidebarLink{
    text-decoration: none;
    color: inherit;
}
a {
    text-decoration: none;
    color: white;
}

.dropdown-item
{
    color:black;
}
.container-fluid{
    background-color:#C2185B;
    position: fixed;
    width: 100%;

    z-index: 999;
}

