<head>
  <link href='https://unpkg.com/boxicons@2.1.2/css/boxicons.min.css' rel='stylesheet'>
</head>

<!-- Navbar content -->
<nav class="navbar navbar-expand-lg navbar-dark bg-light" width="50" >
  <div class="container-fluid" style="margin-top:50px">
    <a class="navbar-brand" style="width: 55px; height: 73px;"><img src="../../../assets/images/logo.png" style="margin-top: 8px; margin-left: 1em; height: 40px;width: 40px; border-radius:50%;"></a>
    <header style="margin-left: 1em; color: antiquewhite;">
      <h3>Ex-Convict Lifeline</h3>
  </header>
   <!--- <div> <br><h6><i>A commitment to community</i></h6></div>---->
    <button class="navbar-toggler" type="button" data-bs-toggle="collapse" data-bs-target="#navbarScroll" aria-controls="navbarScroll" aria-expanded="false" aria-label="Toggle navigation">
      <span class="navbar-toggler-icon"></span>
    </button>
    <div class="collapse navbar-collapse" id="navbarScroll">
      <ul class="navbar-nav me-auto my-2 my-lg-0 navbar-nav-scroll" style="--bs-scroll-height: 200px;">
      </ul>
    <!----<form class="d-flex">
        <input class="form-control me-2" type="search" placeholder="Search" aria-label="Search">
        <button class="btn btn-outline-success" type="submit"><svg xmlns="http://www.w3.org/2000/svg" width="16" height="16" fill="currentColor" class="bi bi-search" viewBox="0 0 16 16">
          <path d="M11.742 10.344a6.5 6.5 0 1 0-1.397 1.398h-.001c.03.04.062.078.098.115l3.85 3.85a1 1 0 0 0 1.415-1.414l-3.85-3.85a1.007 1.007 0 0 0-.115-.1zM12 6.5a5.5 5.5 0 1 1-11 0 5.5 5.5 0 0 1 11 0z"/>
        </svg></button>
      </form>
        <button type="button" class="btn btn-primary" onclick="cancel()">Logout</button>---->
        <div class="dropdown text-end" style="padding-left: 130px;">
          <a href="" class="d-block link-dark  dropdown-toggle" id="dropdownUser1" data-bs-toggle="dropdown" style="color: black;font-size: 5px;">
            <img src="../../../assets/images/download.png" width="32" height="32" class="rounded-circle" style=" border: 1px; border-color: aliceblue;">
          </a>
          <ul class="dropdown-menu text-small" aria-labelledby="dropdownUser1">
            <li><a class="dropdown-item" routerLink="/centraljail/centraljailmyprofile">Profile</a></li>
           <!---- <li><a class="dropdown-item" routerLink="admin-registration">Add New Admin</a></li>-->
            <li><hr class="dropdown-divider"></li>
            <li><a class="dropdown-item" routerLink="/guestLogin">Sign out</a></li>
          </ul>
        </div>
    </div>
  </div>

</nav>
    <div class="sidebar">
      <div class="sidebarWrapper">
          <div class="sidebarMenu">
              <h1 class="sidebarTitle">Dash Board</h1>
              <ul class="sidebarList">
                      <li class="sidebarListItem">
                           <a  routerLink="/centraljail"><i class='bx bx-home-alt-2'></i>&nbsp;Home</a>
                      </li>
                      <li class="sidebarListItem">
                        <a  routerLink="/centraljail/jailsuperintendent"><i class='bi bi-person'></i>&nbsp;Jail superintendent</a>
                      </li>
                      <li class="sidebarListItem">
                          <a routerLink="/centraljail/prisonerregister"><i class='bi bi-people'></i>&nbsp;Prisoner</a>
                      </li>
                      <li class="sidebarListItem">
                        <a routerLink="/centraljail/viewprisoner"><i class='bi bi-people-fill'></i>&nbsp;View Prisoner</a>
                    </li>
              </ul>
              <div class="dropdown" style="margin-left: 10px;">
                <a href="" class="d-block link-dark  dropdown-toggle" id="dropdownUser1" data-bs-toggle="dropdown"
                  style="color: white;">
                  <i></i>
                  <h6 class="bi bi-folder-plus">&nbsp;Add Product Details</h6>
                </a>
                <ul class="dropdown-menu text-small" aria-labelledby="dropdownUser1" style="margin-left: 1em;">
                  <li><a class="dropdown-item" routerLink="/centraljail/production">Production Details</a></li>
                  <li><a class="dropdown-item" routerLink="/centraljail/productrate">Product Rate</a></li>
                  <li><a class="dropdown-item" routerLink="/centraljail/productstock">Product Stock</a></li>
                </ul>
              </div>
              <div class="dropdown" style="margin-left: 10px;">
                <a href="" class="d-block link-dark  dropdown-toggle" id="dropdownUser1" data-bs-toggle="dropdown"
                  style="color: white;">
                  <i></i>
                  <h6 class="bi bi-card-checklist">&nbsp;View Product Details</h6>
                </a>
                <ul class="dropdown-menu text-small" aria-labelledby="dropdownUser1" style="margin-left: 1em;">
                  <li><a class="dropdown-item" routerLink="/centraljail/viewproductiondetails">View Production Details</a></li>
                  <li><a class="dropdown-item" routerLink="/centraljail/viewStock">View Product Stock</a></li>
                  <li><a class="dropdown-item" routerLink="/centraljail/viewproductrates">View Product Rate</a></li>
                </ul>
              </div>
              <div class="dropdown" style="margin-left: 10px;">
                <a href="" class="d-block link-dark  dropdown-toggle" id="dropdownUser1" data-bs-toggle="dropdown"
                  style="color: white;">
                  <i></i>
                  <h6 class="bi bi-shop-window">&nbsp;Shop Details</h6>
                </a>
                <ul class="dropdown-menu text-small" aria-labelledby="dropdownUser1" style="margin-left: 1em;">
                  <li><a class="dropdown-item" routerLink="/centraljail/viewshoporders">View Shop Orders</a></li>
                  <li><a class="dropdown-item" routerLink="/centraljail/viewacceptedshoporders">View Accepted Orders</a></li>
                  <li><a class="dropdown-item" routerLink="/centraljail/viewrejectedshoporders">View Rejected Orders</a></li>
                </ul>
              </div>
              <div class="dropdown" style="margin-left: 10px;">
                <a href="" class="d-block link-dark  dropdown-toggle" id="dropdownUser1" data-bs-toggle="dropdown"
                  style="color: white;">
                  <i></i>
                  <h6 class="bi bi-card-checklist">&nbsp;User Details</h6>
                </a>
                <ul class="dropdown-menu text-small" aria-labelledby="dropdownUser1" style="margin-left: 1em;">
                  <li><a class="dropdown-item" routerLink="/centraljail/viewuserorders">View User Orders</a></li>
                  <li><a class="dropdown-item" routerLink="/centraljail/viewaccepteduserorders">View Accepted Orders</a></li>
                  <li><a class="dropdown-item" routerLink="/centraljail/viewrejecteduserorders">View Rejected Orders</a></li>
                </ul>
              </div>
          </div>
      </div>
    </div>
    <div style="margin-left: 14em; margin-top: 2%;">
      <main>
        <router-outlet></router-outlet>
      </main>
    </div>



