<div class="d-flex p-3 justify-content-center">
  <h4>New Company</h4>
</div>
<table class="table" style="margin-left: 15%; width: 800px;">
  <thead class="table-active">
    <tr>
      <th scope="col">Sl.No.</th>
      <th scope="col">Company name</th>
      <th scope="col">Contact</th>
      <th scope="col">Email</th>
      <th scope="col">Logo</th>
      <th scope="col">Action</th>
    </tr>
  </thead>
  <tbody>
    <tr *ngFor="let i=index; let item of carray;">
      <th scope="row">{{i+1}}</th>
      <td scope="row">{{item.company_name}}</td>
      <td scope="row">{{item.company_contactno}}</td>
      <td scope="row">{{item.company_email}}</td>
      <td scope="row"><img [src]="'http://localhost/Ex-Convict/Guest/'+item.company_logo" width="50" height="50" alt="" class="img-thumbnail" style="border-radius:50%"></td>
      <td><button class="btn btn-outline-success btn-sm bi bi-check2-circle" (click)="approveCompany(item.company_id)"></button> &nbsp;<button class="btn btn-outline-danger btn-sm bi bi-x-circle" (click)="rejectCompany(item.company_id)"></button></td>
    </tr>
  </tbody>
</table>
