<div>
  <!-- <ul class="nav nav-pills" style="margin-left: 3%;">
    <li class="nav-item">
      <a class="nav-link active " aria-current="page" href="#">Active</a>
    </li>
    <li class="nav-item">
      <a class="nav-link" href="#">Link</a>
    </li>
    <li class="nav-item">
      <a class="nav-link" href="#">Link</a>
    </li>
    <li class="nav-item">
      <a class="nav-link disabled">Disabled</a>
    </li>
  </ul> -->
  <nav class="navbar navbar-dark" style="background-color: #E8F8F5;">
    <div class="container-fluid">
      <ul class="nav nav-pills">
        <li class="nav-item">
          <a class="nav-link bi bi-house"  routerLink="/home"  routerLinkActive="active">Home</a>
        </li>
        <li class="nav-item">
          <a class="nav-link bi bi-person-lines-fill" routerLink="#" routerLinkActive="active">Contact</a>
        </li>
        <li class="nav-item">
          <a class="nav-link bi bi-info-circle" routerLink="#" routerLinkActive="active">Info</a>
        </li>
        <li class="nav-item">
        <a class="nav-link bi bi-person-check" routerLink="guestLogin" routerLinkActive="active">Sign In</a>
        </li>
      </ul>
    </div>
  </nav>
</div>
<div>
  <body>
<router-outlet></router-outlet>
  </body>
</div>
