<html>

<body>
  <div class="row">
    <div class="col-md-6"
      style="border:.1px solid rgb(228, 113, 184); border-radius: 10px;top: 10px; margin-top: 3%; margin-left: 25%;">
      <div style="margin-top: 3%; margin-left: 0%;">
        <div class="d-flex p-3 justify-content-center">
          <h4>Edit Profile</h4>
        </div>
        <div>
          <form [formGroup]="jaileditForm">
            <div class="row">
              <label>Central jail Name:</label>
              <div class="col-md-12">
                <input type="hidden" formControlName="cid">
                <input type="text" class="form-control" placeholder="Name" formControlName="name">
                <small class="text-danger" *ngIf="f.name.errors?.['required'] && (f.name.touched || submitted)">{{'isRequired'}}</small>
              
              </div>
            </div>
            <br>
            <div class="row">
              <label>Contact:</label>
              <div class="col-md-12">
                <input type="text" class="form-control" placeholder="Contact Number" formControlName="contact">
                <small class="text-danger" *ngIf="f.contact.errors?.['required'] && (f.contact.touched || submitted)">{{'isRequired'}}</small>
                <small class="text-danger" *ngIf="f.contact.errors?.['minlength'] && (f.contact.touched || submitted)">{{'isInvalid'}}</small>
                <small class="text-danger" *ngIf="f.contact.errors?.['maxlength'] && (f.contact.touched || submitted)">{{'isInvalid'}}</small>
                <small class="text-danger" *ngIf="f.contact.errors?.['pattern'] && (f.contact.touched || submitted)">{{'isInvalid'}}</small>
              </div>
            </div>
            <br>
            <div class="row">
              <label>Address:</label>
              <div class="col-md-12">
                <textarea class="form-control" placeholder="Enter your company address" formControlName="address"></textarea>
                <small class="text-danger" *ngIf="f.address.errors?.['required'] && (f.address.touched || submitted)">{{'isRequired'}}</small>
              </div>
            </div>
            <!-- <div class="row" >
              <div class="col">
                <label class="custom-file-label" for="customFile">Logo</label>
                <input type="file" class="form-control" placeholder="Logo">
              </div>
              <div class="col">
                <label class="custom-file-label" for="customFile">Proof</label>
                <input type="file" class="form-control" placeholder="Logo">
              </div>
            </div> -->
            <br>
            <!-- <div class="row">
              <div class="col">
                <label class="custom-file-label" for="customFile">District</label>
                <select class="form-control">
                  <option selected>--select--</option>
                  <option value="saab">Saab</option>
                  <option value="opel">Opel</option>
                  <option value="audi">Audi</option>
                </select>
              </div>
              <div class="col">
                <label class="custom-file-label" for="customFile">Place</label>
                <select class="form-control">
                  <option selected>--select--</option>
                  <option value="saab">Saab</option>
                  <option value="opel">Opel</option>
                  <option value="audi">Audi</option>
                </select>
              </div>
            </div> -->

            <!-- <div class="row">
              <div class="col">
                <input type="password" class="form-control" placeholder="Password">
              </div>
              <div class="col">
                <input type="password" class="form-control" placeholder="Confirm Password">
              </div>
            </div> -->

            &nbsp;<button type="submit" class="col-md-6 btn btn-primary" [disabled]="this.jaileditForm.invalid">Update</button>&nbsp;
            <button type="reset" class="col-md-5 btn btn-danger">Cancel</button>
          </form>
          <br>
          <br>
        </div>
      </div>
    </div>
  </div>
</body>

</html>
