<html>

<body>
  <div class="row">
    <div class="col-md-6"
      style="border:.1px solid rgb(228, 113, 184); border-radius: 10px;top: 10px; margin-top: 3%; margin-left: 25%;">
      <div style="margin-top: 3%; margin-left: 0%;">
        <div class="d-flex p-3 justify-content-center">
          <h4>Change Password</h4>
        </div>
        <div>
          <form [formGroup]=" passForm" (ngSubmit)="onSubmit()">
            <div class="row">
              <div class="col-md-12">
                <input type="password" class="form-control" placeholder="Current Password" formControlName="opassword" (blur)=" isMatch()">
              </div>
            </div>
            <br>
            <div class="row">
              <div class="col-md-12">
                <input type="password" class="form-control" placeholder="New Password" formControlName="npassword" *ngIf="matching == true">
                <small class="text-danger" *ngIf="f.npassword.errors?.['required'] && (f.npassword.touched || submitted)">{{'isRequired'}}</small>
                <small class="text-danger" *ngIf="f.npassword.errors?.['password'] && (f.npassword.touched || submitted)">{{'isInvalid'}}</small>
                <small class="text-danger" *ngIf="f.npassword.errors?.['minlength'] && (f.npassword.touched || submitted)">{{'tooSmall'}}</small>
              </div>
            </div>
            <br>
            <div class="row">
              <div class="col-md-12">
                <input type="password" class="form-control" placeholder="Confirm Password" formControlName="cpassword" *ngIf="matching == true">
                <small class="text-danger" *ngIf="f.cpassword.errors?.['required'] && (f.cpassword.touched || submitted)">{{'isRequired'}}</small>
                <small class="text-danger" *ngIf="!f.cpassword.errors?.['required'] && f.cpassword.errors?.['confirm'] && (f.cpassword.touched || submitted)">{{'notMatch'}}</small>
              </div>
            </div>
            <br>
            &nbsp;&nbsp;&nbsp;<button type="submit" class="col-md-6 btn btn-primary" [disabled]="this.passForm.invalid">Submit</button>&nbsp;
            <button type="reset" class="col-md-5 btn btn-danger">Cancel</button>
          </form>
          <br>
          <br>
        </div>
      </div>
    </div>
  </div>
</body>

</html>
