<html>

<body>
  <div class="row">
    <div class="col-md-6"
      style="border:.1px solid rgb(228, 113, 184); border-radius: 10px;top: 10px; margin-top: 3%; margin-left: 25%;">
      <div style="margin-top: 3%; margin-left: 0%;">
        <div class="d-flex p-3 justify-content-center">
          <h4>Product Rate</h4>
        </div>
        <div style="margin-left:10%;">
          <form>
            <div class="row">
              <label>Product Name</label>
              <div class="col-md-10">
                <input type="Text" class="form-control" placeholder="Product details" aria-label="Product Name" readonly>
              </div>
            </div>
            <!-- <div class="row">
              <label>Photo:</label>
              <div class="col-md-12">
                <input type="file" class="form-control">
              </div>
            </div> -->
            <br>
            <div class="row">
              <label>Product Details</label>
              <div class="col-md-10">
                <textarea class="form-control" placeholder="Product Details" id="floatingTextarea" readonly></textarea>
              </div>
            </div>
            <br>

            <div class="row">
              <label>Product Rate:</label>
              <div class="col-md-10">
                <input type="Text" class="form-control" placeholder="Product rate" aria-label="Product Name">
              </div>
            </div><br>
            &nbsp;<button type="submit" class="btn btn-primary">Save</button>&nbsp;
            <button type="reset" class="btn btn-danger">Cancel</button>
          </form>
          <br>

        </div>
      </div>
    </div>
  </div>
</body>

</html>
