<nav class="navbar bg-light">
  <div class="container-fluid">
    <!-- <a class="navbar-brand">Navbar</a> -->
    <form class="d-flex" >
      <label class="form-control-sm text-danger" for="customFile">District</label>
      <select class="form-control-sm">
        <option>Small select</option>
      </select>
      <label class="form-control-sm text-danger" for="customFile">Place</label>
      <select class="form-control-sm">
        <option>Small select</option>
      </select>
    </form>
  </div>
</nav>
<div style="margin-top: 10%;">
  <div class="card" style="width: 18rem;">
    <img class="card-img-top" src="#" alt="Card image cap">
    <div class="card-body">
      <h5 class="card-title">Card title</h5>
      <p class="card-text">Some quick example text to build on the card title and make up the bulk of the card's content.</p>
      <a href="#" class="btn btn-primary">Go somewhere</a>
    </div>
  </div>
</div>

