<html>

<body>
  <div class="container" style="width:95%;margin-left:2%;margin-bottom: 5%; margin-top: 8%;">
    <div class="row" style="width:100% ;">
      <div class="col-md-12">
        <form [formGroup]=" jobForm">
          <div class="row navbar bg-light" style="margin-top: 3%;">
            <div class="form-row">
              <div class="col-md-4 ">
                <small class="text-dark"> Job Category:</small>
              </div>
              <div class="col">
                <select class="form-control" id="exampleFormControlSelect1" formControlName="jcatid"
                  (change)="onChange()">
                  <option value="" selected disabled>--select--</option>
                  <option *ngFor="let item of jcatarray" value="{{item.jobcategory_id}}">{{item.jobcategory_name}}
                  </option>
                </select>
              </div>
            </div>
          </div>
        </form>
        <br>
        <div class="row" style="margin-left: 1px;">
          <div class="col-md-4 p-1" *ngFor="let item of jobarray">
            <div class="card text-center col-md-4 p-1" style="width: 18rem;">
              <div class="card-header">
                {{item.jobcategory_name}}
              </div>
              <div class="card-body">
                <h5 class="card-title">{{item.jobdetname}}</h5>
                <p class="card-text">{{item.jobdet_desc}}</p>
                <button mat-button color="primary" (click)="onClick(item.jobvac_id)">Apply now</button>
              </div>
              <div class="card-footer text-muted">
                {{item.jobvac_lastdate | date:'fullDate'}}
              </div>
            </div>
          </div>
        </div>
        <br>
      </div>
    </div>
  </div>
</body>

</html>
