<div style="margin-top: 5%;">

  <div class="d-flex p-3 justify-content-center">
    <h4>View Stock Details</h4>
  </div>
  <table class="table" style="margin-left: 15%; width: 800px;">
    <thead class="table-active">
      <tr>
        <th scope="col">Sl.No.</th>
        <th scope="col">Product Name</th>
        <th scope="col">Stock Quantity</th>
      </tr>
    </thead>
    <tbody *ngFor="let item of stockArray; let i=index;">
      <tr>
        <th scope="row">{{i+1}}</th>
        <td>{{item.product_name}}</td>
        <td>{{item.productstock_totalquantity}}</td>

        <!-- <td><button class="btn btn-outline-warning btn-sm bi bi-pen"></button> &nbsp;<button class="btn btn-outline-danger btn-sm bi bi-trash3" ></button></td> -->
      </tr>
    </tbody>
  </table>

</div>
