<div class="login-box">
  <h2>Login</h2>
  <form [formGroup]="loginForm" (ngSubmit)="onSubmit()">
    <div class="user-box">
      <input type="text" formControlName="email" placeholder="Email">
      <label>Email</label>
    </div>
    <div class="user-box">
      <input type="password" formControlName="password" placeholder="password">
      <label>Password</label>
    </div>
    <button mat-raised-button color="primary">Login</button>&nbsp;
    <button mat-raised-button color="warn">Cancel</button>
  </form>
</div>
