<html>

<body>
  <div class="row">
    <div class="col-md-6"
      style="border:.1px solid rgb(228, 113, 184); border-radius: 10px;top: 10px; margin-top: 3%; margin-left: 25%;">
      <div style="margin-top: 3%; margin-left: 0%;">
        <div class="d-flex p-3 justify-content-center">
          <h4>Job details</h4>
        </div>
        <div>
          <form [formGroup]="jdetailsForm" (ngSubmit)="onSubmit()">
            <div class="row">
              <div class="col-md-12">
                <label class="form-control-sm text-secondary" for="customFile">Category</label>
                <select  class="form-control" id="exampleFormControlSelect1" formControlName="catid">
                  <option  value="" selected disabled >--select--</option>
                  <option *ngFor="let cat of catArry" value="{{cat.jobcategory_id}}">{{cat.jobcategory_name}}</option>
                </select>
                <small class="text-danger" *ngIf="f.catid.errors?.['required'] && (f.catid.touched || submitted)">{{'isRequired'}}</small>
              </div>
            </div>
            <br>
            <div class="row">
              <div class="col">
                <input type="text" class="form-control" placeholder="Name" formControlName="jname">
                <small class="text-danger" *ngIf="f.jname.errors?.['required'] && (f.jname.touched || submitted)">{{'isRequired'}}</small>
              </div>
              <!-- <div class="col">
                <input type="text" class="form-control" placeholder="Contact Number">
              </div> -->
            </div>
            <br>
            <div class="row">
              <div class="col-md-12">
                <textarea class="form-control" placeholder="Job Details" formControlName="jdesc"></textarea>
                <small class="text-danger" *ngIf="f.jdesc.errors?.['required'] && (f.jdesc.touched || submitted)">{{'isRequired'}}</small>
              </div>
            </div>
            <br>
            &nbsp;<button type="submit" class="col-md-5 btn btn-primary" [disabled]="this.jdetailsForm.invalid">Save</button>&nbsp;
            <button type="reset" class="col-md-5 btn btn-danger">Cancel</button>
          </form>
          <br>
          <br>
        </div>
      </div>
    </div>
  </div>
</body>

</html>
