<body>
  <div class="sidebar">
    <div class="sidebar-header">
      <h3 class="brand">
        <span style="margin-left:8px;">Company</span>
      </h3>
    </div>

    <div class="sidebar-menu">
      <ul>
        <li>
          <a routerLink="ahome">
            <span class='active bi bi-house'>&nbsp;&nbsp;Home</span>
          </a>
        </li>
        <li class="right-menu">
          <a class="menu-button">
            <span><i class='bx bx-notepad' ></i></span>
            <span class='bi bi-pencil-square'>&nbsp;&nbsp;View vacancies</span>
          </a>
          <!-- <div class="dropdown-menu">
            <li><a routerLink="viewdistrict">District</a></li>
            <li><a routerLink="viewplace">Place</a></li>
            <li><a routerLink="departmentview">Department</a></li>
            <li><a routerLink="designationview">Designation</a></li>
            <li><a routerLink="facultyview">Faculty</a></li>
            <li><a routerLink="coursetypeview">Course Type</a></li>
            <li><a routerLink="courseview">Course</a></li>
            <li><a routerLink="batchview">Batch</a></li>
            <li><a routerLink="semesterview">Semester</a></li>
            <li><a routerLink="studentview">Student</a></li>
          </div> -->
        </li>
        <li class="right-menu">
          <a class="menu-button">
            <span><i class='bi bi-person-check' ></i></span>
            <span>&nbsp;&nbsp;Selected </span>
          </a>
          <!-- <div class="dropdown-menu">
            <li><a routerLink="facultyverifyview">Faculty</a></li>
            <li><a routerLink="studentverifyview">Student</a></li>
          </div> -->
        </li>
        <!-- <li>
          <a routerLink="/Admin/areport">
            <span><i class='bi bi-clipboard'></i></span>
            <span>&nbsp;&nbsp;Reports</span>
          </a>
        </li>
        <li>
          <a routerLink="/Admin/acomplaints">
            <span><i class='bx bxs-message-rounded-dots'></i></span>
            <span>&nbsp;&nbsp;&nbsp;Complaints</span>
          </a>
        </li> -->
        <li>
          <a  style="cursor: pointer;">
            <span><i class='bi bi-box-arrow-right' ></i></span>
            <span>&nbsp;&nbsp;Log Out</span>
          </a>
        </li>
      </ul>
    </div>

    <div class="main-content">
      <header>
        <div class="logotitle">
          <img src="../../../assets/images/logo.png" style="margin-top: 8px; height: 40px;width: 40px; border-radius:50%;">
          <h2>EX-CONVICT LIFELINE</h2>
        </div>

        <div class="social-icons">
          <ul>
            <li>
                <div class="dropdown">
                  <button class="dropbtn"><img src="../../../assets/images/download.png"style="height: 38px;width: 38px; border-radius: 50%;"></button>
                  <div class="dropdown-content">
                    <a routerLink="adminprofile">My Profile</a>
                    <a >Logout</a>
                  </div>
                </div>
            </li>
        </ul>
        </div>
      </header>
    </div>
  </div>
      <div class="main-content">
        <main>
        </main>
      </div>

</body>
