<html>

  <body style="margin-left: -10%;">
    <div class="row">
      <div class="col-md-6"
        style="border:.1px solid rgb(228, 113, 184); border-radius: 10px;top: 10px; margin-top: 5%; margin-left: 25%;">
        <div style="margin-top: 3%; margin-left: 0%;">
          <div class="d-flex p-3 justify-content-center">
            <h4>Jailsuperintendent Registration</h4>
          </div>
          <div>
          <form [formGroup]="superIntendentForm" (ngSubmit)="onSubmit()">
            <div class="row">
              <div class="col-md-12">
                <input type="text" class="form-control" placeholder="Jailsuperintendent Name" formControlName="name">
                </div>
            </div>
            <br>
            <div class="row">
              <div class="col">
                <input type="text" class="form-control" placeholder="Email id" formControlName="email" >
                 </div>
              <div class="col">
                <input type="text" class="form-control" placeholder="Contact Number" formControlName="contact">
                </div>
              </div>
            <br>
            <div class="row">
              <div class="col">
                &nbsp;<label class="custom-file-label" for="customFile">Gender:</label>&nbsp;&nbsp;
                &nbsp;&nbsp;&nbsp;&nbsp; <input class="form-check-input" type="radio" name="flexRadioDefault"
                  value="Male" formControlName="gender" name="gender">
                &nbsp;<label class="form-check-label" for="flexRadioDefault1">
                  Male
                </label>
                &nbsp;&nbsp;&nbsp;&nbsp;<input class="form-check-input" type="radio" name="flexRadioDefault"
                  value="Female" formControlName="gender" name="gender">
                &nbsp;<label class="form-check-label" for="flexRadioDefault1">
                  Female
                </label> </div>
              <div class="col">
                <textarea class="form-control" placeholder="Enter the address" formControlName="address" rows="1"></textarea>
                 </div>
            </div>
            <div class="row" >
              <div class="col">
                <small class="custom-file-label" for="customFile">Qualification</small>
                <input type="text" class="form-control" placeholder="Jailsuperintendent Qualification" formControlName="qualify">
              </div>
              <div class="col">
                <small class="custom-file-label" for="customFile">Photo</small>
                <input type="file" class="form-control" placeholder="Logo" >
              </div>
            </div>



            <!-- <div class="row">
              <div class="col">
                <input type="password" class="form-control" placeholder="Password" formControlName="password">
                </div>
              <div class="col">
                <input type="password" class="form-control" placeholder="Confirm Password" formControlName="cpassword">
                 </div>
            </div> -->
            <div class="form-group">
              <div class="form-check">

              </div>
            </div>
            &nbsp;<button type="submit" class="btn btn-primary" >Submit</button>&nbsp;
            <button type="reset" class="btn btn-danger">Cancel</button>
          </form>
          <br>
          <br>
        </div>
      </div>
    </div>
  </div>
</body>

</html>
