<html>

<body>
  <div class="row">
    <div class="col-md-6"
      style="border:.1px solid rgb(228, 113, 184); border-radius: 10px;top: 10px; margin-top: 3%; margin-left: 25%;">
      <div style="margin-top: 3%; margin-left: 0%;">
        <div class="d-flex p-3 justify-content-center">
          <h4>Edit Profile</h4>
        </div>
        <div style="margin-left: 20%;">
          <form [formGroup]="shopeditForm" (ngSubmit)="onSubmit()">
            <div class="row">
              <label>Name:</label>
              <div class="col-md-10">
                <input type="hidden" class="form-control" aria-label="First name" formControlName="sid">
                <input type="text" class="form-control" placeholder="First name" aria-label="First name" formControlName="name">
                <small class="text-danger" *ngIf="f.name.errors?.['required'] && (f.name.touched || submitted)">{{'isRequired'}}</small>
              </div>
            </div>
            <div class="row">
              <label>Contact:</label>
              <div class="col-md-10">
                <input type="text" class="form-control" placeholder="contact" aria-label="contact" formControlName="contact">
                <small class="text-danger" *ngIf="f.contact.errors?.['required'] && (f.contact.touched || submitted)">{{'isRequired'}}</small>
                <small class="text-danger" *ngIf="f.contact.errors?.['minlength'] && (f.contact.touched || submitted)">{{'isInvalid'}}</small>
                <small class="text-danger" *ngIf="f.contact.errors?.['maxlength'] && (f.contact.touched || submitted)">{{'isInvalid'}}</small>
              </div>
            </div>
            <!-- <div class="row">
              <label>Email:</label>
              <div class="col-md-10">
                <input type="email" class="form-control" placeholder="Email id" formControlName="email">
                <small class="text-danger" *ngIf="f.email.errors?.['reqiured'] && (f.email.touched || submitted)">{{'isRequired'}}</small>
                <small class="text-danger" *ngIf="f.email.errors?.['email'] && (f.email.touched || submitted)">{{'isInvalid'}}</small>
              </div>
            </div> -->
            <div class="row">
              <label>Address:</label>
              <div class="col-md-10">
                <textarea class="form-control" placeholder="Enter your shop address" id="floatingTextarea" formControlName="address"></textarea>
                <small class="text-danger" *ngIf="f.address.errors?.['reqiured'] && (f.address.touched || submitted)">{{'isRequired'}}</small>
              </div>
            </div>
            <!-- <div class="row">
              <label>District:</label>
              <div class="col-md-10">
                <select class="form-control">
                  <option selected>--select--</option>
                  <option value="saab">Saab</option>
                  <option value="opel">Opel</option>
                  <option value="audi">Audi</option>
                </select>
              </div>
            </div>
            <div class="row">
              <label>Place:</label>
              <div class="col-md-10">
                <select class="form-control">
                  <option selected>--select--</option>
                  <option value="saab">Saab</option>
                  <option value="opel">Opel</option>
                  <option value="audi">Audi</option>
                </select>
              </div>
            </div> -->
            <!-- <div class="row">
              <label>Logo:</label>
              <div class="col-md-10 ">
                <input type="file" class="form-control">
              </div>
            </div>
            <div class="row">
              <label>Proof:</label>
              <div class="col-md-10 ">
                <input type="file" class="form-control">
              </div>
            </div> -->
            <div class="row">
              <label>Owner name:</label>
              <div class="col-md-10">
                <input type="text" class="form-control" placeholder="Owner's name" formControlName="owner">
                <small class="text-danger" *ngIf="f.owner.errors?.['reqiured'] && (f.owner.touched || submitted)">{{'isRequired'}}</small>
              </div>
            </div>
            <!-- <div class="row">
              <label>Password:</label>
              <div class="col-md-10">
                <input type="password" class="form-control" placeholder="Password">
              </div>
            </div>
            <div class="row">
              <label>Confirm Password:</label>
              <div class="col-md-10">
                <input type="password" class="form-control" placeholder="re-enter your password">
              </div>
            </div> -->
            <div class="form-group">
              <div class="form-check">

              </div>
            </div>
            &nbsp;<button type="submit" class="col-md-5 btn btn-primary" [disabled]="this.shopeditForm.invalid">Update</button>&nbsp;
            <button type="reset" class="col-md-4 btn btn-danger">Cancel</button>
          </form>
          <br>
        </div>
      </div>
    </div>
  </div>
</body>

</html>
